<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col col-lg-6">
      <div class="d-flex flex-column align-items-center p-4 rounded content-box">
        <h2>The Hangman</h2>
        <p class="my-5">
          <img src="./assets/images/pic-instructions.png" alt="">
        </p>
        <h3>Game Instructions</h3>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacus massa, faucibus eu commodo vel,
          dictum at augue. Pellentesque eu tellus ut tortor dignissim viverra.</p>
        <p class="text-center">Nunc lectus lacus, lacinia sed imperdiet ut, laoreet et ex. Curabitur lectus purus, rutrum ut neque et,
          fermentum rhoncus erat.</p>
        <button class="btn btn-dark mt-5" routerLink="/word-length">Got It!</button>
      </div>
    </div>
  </div>
</div>
